!!!
%html
  %head
    = stylesheet_link_tag    "application"
    = stylesheet_link_tag    "bootstrap.css"
    = javascript_include_tag "application"
    = csrf_meta_tags
  
  %body
    = yield(:layout_header)
    = yield(:layout_content) or yield
